version: "3.9"

services:
  backend:
    build: ./backend
    env_file:
      - ./.env
    ports:
      - "3000:3000"
    volumes:
      - vk-data:/data
    restart: unless-stopped

volumes:
  vk-data:
